
<header class="header home-bkgd">
<div class="container">
	
		<h1>My Adventure Logbook.</h1>
		<p>Log all of your adventures</p>
		<%= link_to "Sign up", new_user_registration_path, class: "btn btn-basew" %>
		<%= link_to "Log in", new_user_session_path, class: "btn btn-basew" %>
</div>
</header>


