

<h2> Boat Make: <%= @boat_search.make %></h2>
<h2> Boat Name: <%= @boat_search.name %></h2>
<h1>Contact details </h1>
<h2> User Email: <%= @boat_search.user.email %></h2>
<h2> Picture? </h2>

<%= link_to "Back to my Dashboard", user_path(current_user)%>
