
<!-- To be edited and made dynamic
<div class="col-md-6 col-md-offset-3">
		<div id="boats">
			<h2>My Boats</h2>
			<div class="table-responsive">
				<table class="table">
					<tr>
						<th></th> 
						<th>Boats</th> 
					</tr>
					<tbody></tbody>
						<tr>
							<td> # </td>
							<td> # </td>
						</tr>
						<tr>
							<td> # </td>
							<td> # </td>
						</tr>
				</table>
			</div>
		</div>
	</div>
	-->